.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding-inline: clamp(3rem, 1.75rem + 3.5vw, 5rem);
}

@media (width <=1200px) {
    .container {
        padding-inline: clamp(2.25rem, 1.25rem + 3.2vw, 3.75rem);
    }
}

@media (width <=768px) {
    .container {
        padding-inline: clamp(1.5rem, 0.875rem + 2.8vw, 2.5rem);
    }
}

@media (width <=520px) {
    .container {
        padding-inline: clamp(1.25rem, 0.5rem + 3.2vw, 2rem);
    }
}