.header {
    border-bottom: 0.0625rem solid var(--light-gray);
    width: 100%;
    position: fixed;
    z-index: 9999;
    background-color: #FFF8F0;
    backdrop-filter: blur(0.75rem);
    view-transition-name: site-header;
    transition: background-color 300ms, border-color 300ms, opacity 300ms, transform 300ms;
}

.headerWrapper {
    min-height: 7.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1.875rem 0;

    @media (width <=68.75em) {
        padding: 1.25rem 0;
        min-height: unset;
    }
}