.newsList {
    grid-template-columns: 1fr;
    gap: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
}

.newsItem {
    border-bottom: 0.0625rem solid var(--border);
    padding: 1.5625rem 0;
}